hr{
    border-style: none;
    border-top-style: dotted;
    border-color:#737373;
    border-width: 8px;
}
body{

    background-color: #ffffff;
    /* background-image:url('https://th.bing.com/th/id/OIP.cpQ5kuabmpjFXcSDFUQnhwHaEK?w=290&h=180&c=7&r=0&o=5&pid=1.7');
    background-repeat:  repeat; */
    /* background-size: ; */
}
.line1{
    color: #484b4b;
}
.gap{
/* width: 10px; */
height:200px;
border: 8px solid #7e9075;
/* padding: 30px; */
/* margin: 20px; */
}
.line2{
    /* color: #557153; */
    color:#61764B;
}
#main{
    height:1050px;
    width:1000px;
    background-color:#7e9075;
    border:10px solid black;
    /* background-color:#90B77D; */
    /* border-color:#737373; */
    padding: 30px;
    margin: 30px;
    /* border:500px solid #7e9075;
    
    border: 15px solid green;
    padding: 50px;
    margin: 20px; */
  
}
.side{
    display: inline-block;
}
#main2{
    height:100px;
    width:1050px;
    background-color:#7e9075;
    border:8px solid black;
}
.p{
    font-size: 20px;
    
}
.txt{
    text-align: left;

}